.container{
    background-color: rgb(14, 10, 10);
    border-radius: 50px;
    box-shadow:black;
    padding: 300px;
    max-width: 1200px;
    width: 100%;
    color: white;
    scroll-behavior: smooth;
    

    
    

}
.h1{
    text-align: left;
    font-size: xx-large;
    
    
}
*{
    margin:1000 ;
    padding: 100;
    }
    body{
    height: 500vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(12, 15, 34), rgba(46, 68, 87, 0.945));
    padding: 1px;
    
    }
    .container{
    background: rgb(14, 0, 0);
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    filter: drop-shadow(10px 10px 20px);
    }
    .container .heading{
    font-size: 25px;
    font-weight: 600;
    position: relative;
    }
    .container .namedetail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    }
    .box{
        border: 2px solid rgb(75, 65, 98);
        overflow: auto;
        
    }
    div{
        float: right;
        
    }
    button{
        border-radius: 20px;

       ;
    }
    button:hover{
        transition: 0.2s ease-in-out;
        opacity: 0.8;
    }
    